* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/Imagenes/Wood.png);
  font-family: "Cedarville Cursive", cursive;
}
.main-div {
  display: flex;
  justify-content: center;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70vw;
  margin-top: 10vh;
}
.box {
  display: flex;
  flex-direction: column;
  width: 16em;
  height: 16em;
  margin-right: 1vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: white;
  padding: 8px;
  text-align: center;
  box-shadow: 1px 2px 3px black;
}
.div-imagen {
  overflow: hidden;
  height: 70vh;
}
.img-width {
  width: 100%;
  height: 100%;
}
.photo-text {
  margin-top: 15px;
  font-size: 18px;
}
#tarjeta1 {
  transform: rotate(-10deg);
  transition: 0.2s;
}
#tarjeta1:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta2 {
  transform: rotate(30deg);
  transition: 0.2s;
}
#tarjeta2:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta3 {
  transform: rotate(-20deg);
  transition: 0.2s;
}
#tarjeta3:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta4 {
  transform: rotate(10deg);
  transition: 0.2s;
}
#tarjeta4:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta5 {
  transform: rotate(-10deg);
  transition: 0.2s;
}
#tarjeta5:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta6 {
  transform: rotate(-20deg);
  transition: 0.2s;
}
#tarjeta6:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta7 {
  transform: rotate(10deg);
  transition: 0.2s;
}
#tarjeta7:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta8 {
  transform: rotate(10deg);
  transition: 0.2s;
}
#tarjeta8:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
#tarjeta9 {
  transform: rotate(-15deg);
  transition: 0.2s;
}
#tarjeta9:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 5px 10px 100px black;
}
